{% extends 'base.html' %}

{% block content %}
  <section class="px-4">
    <h1 class="font-bold mb-8 mt-4 text-4xl">Edit {{ author['name'] }}</h1>

    <form action="{{ url_for('author.edit', id=author['id']) }}" method="post" enctype="multipart/form-data">
      <div class="mb-2">
        <input class="px-3 py-2 border rounded" placeholder="Author's name" type="text" name="name" value="{{ author['name'] }}" autofocus>
      </div>
      <button class="px-2 py-1 rounded bg-blue-500 text-white">Update</button>
    </form>
  </section>
{% endblock %}